@charset "utf-8";
p{
	font-size:30px;
	color:#00a0e5;
	border: 2px solid black;
	margin-right: 4px; 
	margin-bottom: 4px;
}
.ex2{
border: 2px solid black;
}
.ex3{
border: 2px solid black;
}
#d1{
	font-size:30px;
	color:green;
}
#d2{
	font-size:30px;
	color:blue;
}
.d1{
	font-size:30px;
	color:green;
}
.d2{
	font-size:30px;
	color:blue;
}
.ex{
	border: 2px solid black;
}
.ex>#d{
 font-size:30px;
 color:red;
}